<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NDD.db.SQLServer" connectionString="Data Source=(localdb)\MSSqllocaldb;Initial Catalog=GeradorProva;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <!--<add name="NDD.db.SQLServer" connectionString="server=localhost; Database=GeradorProva;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>-->
    <add name="NDD.db.MySQL" connectionString="Server=localhost;Port=3306;Database=GeradorProva;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>